<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415313603330-bi90h393svaofglg44347dnum2rs6c81.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415313603330-bi90h393svaofglg44347dnum2rs6c81</string>
	<key>API_KEY</key>
	<string>AIzaSyDrmB67QdocWjy7TUHEgt2ELen4XjvFNz0</string>
	<key>GCM_SENDER_ID</key>
	<string>415313603330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynotes</string>
	<key>PROJECT_ID</key>
	<string>project-myownnotes</string>
	<key>STORAGE_BUCKET</key>
	<string>project-myownnotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415313603330:ios:1450010663f4b26425b01b</string>
</dict>
</plist>